<h1 class="text-center"> List of Trips</h1>

<% @trips.each do |trip| %>
<div class="card">
  <div class="card-body">
    <h1><%= link_to trip.name.titleize, trip_path(trip), class:"link_color" %><br></h1>
  </div>
<% end %>
</div>
