<h1> Flight number <%= flight.flight_number %> </h1>

<ul>
 <% @flights.each do |flight| %>
   <li><%= flight.flight_number %>: <%= flight.origin_airport %>, <%= flight.destination_airport %></li>
   <% end %>
</ul>
