<h1 class="text-center"><u>User Index Page</u></h1>


<h3>All users:</h3>
<ul>
  <% @users.each do |user| %>
    <li class="text-primary"><%= link_to user.name, user_path(user) %></li>
  <%end%>
</ul>

<button><%= link_to "Add New User", new_user_path%></button>
<button><%= link_to "See All Trip", trips_path%></button>

