<header class="background_image">
    <img src="app/assets/images/flight map.jpeg" alt="flight connection map" style="width:128px;height:128px;"">
    <h1>Trip Tracker</h1>
</header>
<div class="nav-bar">

<h3><%= link_to "All Users", users_path %></h3>
<h3><%= link_to "All Trips", trips_path %></h3>
<h3><%= link_to "All Activities", activities_path %></h3>
