    <header class="background_image">
        <img src="app/assets/images/flight map.jpeg" alt="flight connection map" style="width:128px;height:128px;"">
        <h1>Trip Tracker</h1>
    </header>
    <div class="nav-bar">

