

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Welcome to TripTracker</h1>
        <p class="lead">A great starter layout for a landing page</p>
       <a href="/login"><button class="login">Returning User</button></a>
       <a href="/user/new"><button class="new_user">New User</button></a>
      </div>
    </div>
  </div>
</header>


    <%# <header class="background_image"> %>
        <%# <%=image_tag "flight_map.jpeg",:class => "style_image"%>
        <%# <h1>Trip Tracker</h1>
    </header>
    <div class="nav-bar"> %>
