require_tree .
require self
stub custom


.style_image {
    align-self: center;
    height: 200vh;
    border-right: 1px solid #000;
  }
  .masthead {
    height: 300px;
    min-height: 300px;
    position: float;
    background-image: url('flight_map.jpeg');
    background-size: 1450px;
    background-position: 80% 30%; 
    background-position: sticky;
    background-repeat: no-repeat;
  }
  .font-weight-light{
      color: white;
  }
  .lead{
    color: white;
}
.login{
    position: fixed;
    right: 9.5px;
    bottom: 188px;
    width: 105px;
    border: outset;
    border-color: rgb(186, 186, 186);
}
.login_button{
  right: 9.5px;
  width: 100px;
}

.register_button{
  width: 100px;
  right: 9.5px;

}



  
.register{
    position: fixed;
    right: 400px;
    bottom: 188px;
    width: 105px;
    border: outset;
    border-color: rgb(186, 186, 186);
}
